@import url('https://fonts.googleapis.com/css?family=Audiowide|Bebas+Neue|Lalezar|Roboto|Staatliches&display=swap');


html, body {
    height: 100%;
    margin: 0;
    font-size: rem;
    font-family: 'Bebas Neue', cursive;
    line-height: 1.8rem;
    color: black;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background-color: whitesmoke */
}
.navigation-bar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    align-items: flex;
    background-color: rgba(247, 247, 247, 0.9); 
    z-index: 1;
    padding-right: 40px;
    box-sizing: border-box;
}
.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;  
}
.nav-links li {
    list-style: none;  
}
.nav-links li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block; 
    font-size: 1.5rem;     
}
.nav-links a:hover {
    color: rgb(38, 165, 187);
}
  /* hamburger-menu start*/
.hamburger-button {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;      
}
.hamburger-button .bar {
    height: 4px;
    width: 100%;
    background-color: rgb(230, 230, 230);;
    border-radius: 4px;
    background: black;
}

@media (max-width: 765px) {
   
    .navigation-bar {    
        padding-right: 20px;
    }
    .nav-links li a{
        padding: 0.7rem ;
        font-size: 1.4rem;           
    }
    .hamburger-button {
        width: 40px;
        height: 28px;     
    }
    
}

@media (max-width: 630px) {
    .hamburger-button { 
        display: flex;    
        width: 38px;
        height: 28px;      
        top: 1.2rem;
        right: 1.5rem;     
    }
    .nav-links  {     
        display: none;
        width: 100%;
    }
    .navigation-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul {
        flex-direction: column;
        width: 100%;
    }
    .nav-links li {
        text-align: center;
    }
    .nav-links li a {
        padding: .5rem .5rem;
    }
    .nav-links.active {
        display: flex;
    }
}

.about{
    background-color: whitesmoke;
    color: rgb(63, 63, 63);
    text-align: center;
    padding: 20px 80px;
    padding-top: 5rem;
}
.h2-about{
    font-size: 2rem;
    letter-spacing: 10px;
}
.p-about{
    font-family: 'Roboto', cursive;
    font-size: 1.3rem;
    line-height: 1.8;

}
.gallery{
    background:white;
    min-height: 500px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', cursive;
    display: flex; 
    flex-direction: column;
    /* justify-content: center; */
    align-items: center; 
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', cursive;  
}
.about,.contact{
    background:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url(background-images/background8.jpg);
    min-height: 500px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto', cursive;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    overflow: hidden;
    font-family: 'Roboto', cursive; 
    padding: 20px 80px; 
}
.h2-gallery{
    font-size: 2rem;
    padding-top: 2rem;
    letter-spacing: 10px;
    font-family: 'Bebas Neue', cursive;
}
.more-images{
    margin-bottom: 1rem;
}
.image-wrapper{
    /* background-color: red; */
    display: grid;
    grid-template-areas: "one two two"
                         "five four three"
                         "six six three"
                         "nine seven ten"
                         "nine eight ten";
    gap: 5px;
    padding: 5px;
    margin: 20px;
}
img{
    width: 100%;
    height: 100%;
}

.one{
    grid-area: one;
    background-color: rgb(38, 165, 187);
    width: 300px;
    height: 300px;
    
}
.two{
    grid-area: two;
    background-color: rgb(25, 41, 44);
    width: 605px;
    height: 300px;
    
}
.three{
    grid-area: three;
    background-color: rgb(85, 154, 167);
    width: 300px;
    height: 605px;
}
.four{
    grid-area: four;
    background-color: rgb(12, 80, 92);
    width: 300px;
    height: 300px;
}
.five{
    grid-area: five;
    background-color: rgb(111, 216, 235);
    width: 300px;
    height: 300px;
}
.six{
    grid-area: six;
    background-color: rgb(8, 198, 231);
    width: 605px;
    height: 300px;
}
.seven{
    grid-area: seven;
    background-color: rgb(63, 89, 94);
    width: 300px;
    height: 300px;
}
.eight{
    grid-area: eight;
    background-color: rgb(6, 81, 94);
    width: 300px;
    height: 300px;
}
.nine{
    grid-area: nine;
    background-color: rgb(157, 234, 248);
    width: 300px;
    height: 605px;
}
.ten{
    grid-area: ten;
    background-color: rgb(48, 137, 153);
    width: 300px;
    height: 605px;
}

.contact {
    background-color: rgb(247, 247, 247);
    color: rgb(63, 63, 63);
    text-align: center;
    padding: 20px 80px;
}
.h2-contact{
    font-size: 2rem;
    letter-spacing: 10px;
    font-family: 'Bebas Neue', cursive;
}
.contact-info-wrapper{
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
    justify-content: center; 
    align-items: center;
    font-family: 'Roboto', cursive;
}
.number-wrapper, .email-wrapper, .location-wrapper, .social-wrapper {
    display: flex;
    align-items: center; 
}
.p-phone, .p-email, .p-location{
    margin-right: 10px;
}
.p-facebook{
    margin: 0rem 3rem; 
}
.fa-phone, .fa-envelope, .fa-map-marker-alt{
    color: black;
    outline: none;
    text-decoration: none;
}
a{
    outline: none;
    text-decoration: none;
}
@media (max-width: 930px) {
    .image-wrapper{
        display: grid;
        grid-template-areas: "one five"
                             "two two"
                             "four three"
                             "nine three"
                             "nine seven"
                             "six six"
                             "ten eight";
        gap: 5px;
        padding: 5px;
        margin: 20px;
    }

}

@media (max-width: 630px) {
    .home-description{
        position: absolute;
        top: 47%;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 1.5rem;
        letter-spacing: 8px;
        font-family: 'Bebas Neue', cursive;
        line-height: 1.8rem;
    }
    .logo{
        align-self: center;
        width: 12rem;
        height: 12rem;
        /* position: absolute; */
        /* left: 30%; */
        top: 7rem;
    }
    .slides-holder{
        margin: 20px;
        height: 600px;
        width: 400px;
    }
    .slide .content{
        position: absolute;
        bottom:-210px;
        left:-500px;
        width: 100%;
        height: auto;
        font-size: 1rem;
        padding: 5px;
        line-height:1rem;  
    }
    .about{
        background-color: whitesmoke;
        color: rgb(63, 63, 63);
        /* text-align: center; */
        padding: 20px 50px;
    }
    .h2-about{
        font-size: 2rem;
        letter-spacing: 10px;
    }
    .p-about{
        font-family: 'Roboto', cursive;
        font-size: 1.2rem;
        line-height: 1.8rem;
        align-self: flex-start;
    }
    .contact-info-wrapper{
        display: flex;
        flex-direction: column;
        /* background-color: tomato; */
        justify-content: center; 
        /* align-items: center; */
        font-family: 'Roboto', cursive;
    }
    .h2-boards{
        padding-top: 0rem;
    }
    .image-wrapper{
        display: grid;
        grid-template-areas: "one"
                             "two"
                             "three"
                             "four"
                             "five"
                             "six"
                             "seven"
                             "eight"
                             "nine"
                             "ten";
        gap: 5px;
        padding: 5px;
        margin: 20px;
    }
    .two{
        grid-area: two;
        background-color: rgb(25, 41, 44);
        width: 300px;
        height: 300px;
        
    }
    .six{
        grid-area: six;
        background-color: rgb(8, 198, 231);
        width: 300px;
        height: 300px;
    }
    .img{
        width: 300px;
        height: 300px;
    }
    
    
}
@media(max-width:430px) {
    .logo{
        align-self: center;
        width: 12rem;
        height: 12rem;
        /* position: absolute; */
        left: 25%;
        top: 5rem;
    }
    .home-description{
        position: absolute;
        top: 18rem;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 1.5rem;
        letter-spacing: 8px;
        font-family: 'Bebas Neue', cursive;
        line-height: 1.8rem;
    }
    .slides-holder{
        height: 520px;
        width: 310px;
    }
    .slide .content{
        bottom:-185px;
        left:-500px;
        width: 100%;
        font-size: 1rem;
        padding: 5px;
    }
    .more-btn{
        right: 20px;
        bottom: 10px;
        padding: 5px;
        font-size: 0.7rem;
    }
    .h1-content{
        font-size: 1.2rem;
        line-height:0.3;
        opacity: 1;
        text-align: center;
    }
    .p-content{
        padding-left: 10px;
        font-size: 0.8rem;
    }
    .contact-info-wrapper{
        display: flex;
        flex-direction: column;
        /* background-color: tomato; */
        justify-content: center; 
        /* align-items: center; */
        font-family: 'Roboto', cursive;
    }
  
    
   
}
@media(max-width:320px) {
    .logo{
        align-self: center;
        width: 12rem;
        height: 12rem;
        /* position: absolute; */
        left: 20%;
        top: 5rem;
    }
    .home-description{
        position: absolute;
        top: 18rem;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 1.5rem;
        letter-spacing: 8px;
        font-family: 'Bebas Neue', cursive;
        line-height: 1.8rem;
    }
}